#grand{
	text-align: center;
	padding:10px;
	padding-top:150px;
}

/*.block0{
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-left:-2px;
	background: white;
}
.block1{
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-left:-2px;
	background: black;
}
.block2{
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-left:-2px;
	background: white;
}
.block3{
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-left:-2px;
	background: black;
}
.block4{
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-left:-2px;
	background: white;
}
.block5{
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-left:-2px;
	background: black;
}
.block6{
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-left:-2px;
	background: white;
}
.block7{
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-left:-2px;
	background: black;
}*/

/*.row1{
	margin-top:-4px;
	margin-left:-4px;
}
.row2{
	margin-top:-4px;
	margin-left:-4px;
}*/
/*.block0:nth-child(2n){  
 	 background: black;
}
.block1:nth-child(2n){  
  	background: white;
}
.block2:nth-child(2n){  
 	 background: black;
}
.block3:nth-child(2n){  
  	background: white;
}
.block4:nth-child(2n){  
 	 background: black;
}
.block5:nth-child(2n){  
  	background: white;
}
.block6:nth-child(2n){  
 	 background: black;
}
.block7:nth-child(2n){  
  	background: white;
}*/
/*.block1{
    background-image: url('/home/surya/Desktop/coin_images/ws.png');
}*/



